---
import Layout from "../layouts/Layout.astro";
import CardArtiste from "../components/CardArtiste.astro";
import { allArtistesByDate } from "../../backend/backend.mjs";

const artistes = await allArtistesByDate();
---

<Layout titre="Artistes | Lumimix Festival">
    <main class="bg-[#020618] min-h-screen">
        <section
            class="relative min-h-[70vh] w-full flex items-center justify-center text-center px-6 overflow-hidden font-roboto"
        >
            <div class="absolute inset-0 -z-20">
                <img
                    src="/img/hero_artistes.avif"
                    alt="Ambiance Festival"
                    class="w-full h-full object-cover"
                />
                <div
                    class="absolute inset-0 bg-gradient-to-b from-[#020618]/10 via-[#020618]/55 to-[#020618]/90"
                >
                </div>
            </div>
            <div class="relative max-w-3xl mx-auto">
                <h1 class="text-6xl md:text-7xl font-bold tracking-tight mb-4">
                    <span
                        class="bg-gradient-to-r from-[#C27AFF] to-[#FB64B6] bg-clip-text text-transparent"
                        >Artistes</span
                    >
                </h1>
                <p
                    class="text-white text-xl md:text-2xl max-w-xl mx-auto opacity-90 leading-snug font-medium"
                >
                    Les plus grands DJs de la scène électronique internationale
                    réunis pour vous.
                </p>
            </div>
        </section>

        <section class="max-w-7xl mx-auto px-6 py-24">

            <div
                class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-12 justify-items-center"
            >
                {
                    artistes && artistes.length > 0 ? (
                        artistes.map((artiste) => (
                            <CardArtiste artiste={artiste} />
                        ))
                    ) : (
                        <div class="col-span-full text-center py-20">
                            <div class="inline-block p-8 bg-white/5 rounded-[2rem] border border-white/10 backdrop-blur-sm">
                                <p class="text-[#90A1B9] text-xl italic">
                                    Aucun artiste trouvé...
                                </p>
                                <p class="text-xs mt-4 opacity-50 text-white uppercase tracking-widest">
                                    Vérifie la connexion à PocketBase (Port
                                    8090)
                                </p>
                            </div>
                        </div>
                    )
                }
            </div>
        </section>
    </main>
</Layout>

<style>
    h1 {
        font-family: "Roboto", sans-serif;
    }
</style>
