---
import "../styles/global.css";
import Header from "../components/Header.astro";
const { titre } = Astro.props;
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{titre}</title>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body class="bg-[#020618] text-white">
		<Header />
		<main>
			<slot />
		</main>
	</body>
</html>

<style is:global>
	/* Application de la police à tout le document (cite: 14, 23) */
	:root {
		font-family: "Roboto", sans-serif;
	}

	/* Style spécifique pour tes titres comme sur la maquette (cite: 22, 23) */
	h1 {
		font-family: "Roboto", sans-serif;
		font-weight: 700; /* Bold (cite: 23) */
		text-transform: uppercase;
	}
</style>
