---
import "../styles/global.css";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="bg-[#050505] text-white selection:bg-purple-500/30">
		<Header />

		<main>
			<slot />
		</main>
		<footer
			class="py-10 border-t border-white/5 text-center text-gray-500 text-sm"
		>
			<p>&copy; 2026 Festival MMI - SAÉ DEV Projet Étudiant</p>
		</footer>
	</body>
</html>
